*{
    font-family: "quicksandbold";
    margin: 0;
    padding: 0;
box-sizing: border-box;
letter-spacing: 0.5px;

}
footer {
  display: flex;
    width: auto;
    color: white;
    overflow: hidden;
   justify-content: space-between;
    margin-left: 43px;
    margin-right: 43px;

}
.footer-top-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 15px;
    width: auto;
    /* min-height: 160px; */
    /* margin-right: 530px; */
}
.footer-mid{
    font-family: 'quicksandbold';
    max-width: 450px;
    
}
.footer-mid h2{
    opacity: 1;
    font-weight: bold;
    color: #fff;
    font-size: clamp(0.7em, 2em + 1vw, 3em);
}
.footer-mid p{
    font-family: 'quicksandbold';
    font-size: clamp(0.5em, 0.4em + 2vw, 1.1em);
    width: 100%;
    font-weight: 200;
}
.footer-right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 85px;
    width: auto;
}

h2 {
    text-align: left;
    color: #3227a3;
    margin-top: 0px;
    margin-bottom: 16px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
}

menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

menu li {
    margin-bottom: 16px;
}


.logo {
    width: 180px;
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 25px; 
    margin-top: 10px;
}

.social-links img {
    width: 35px;
    height: 35px;
}

.footer-bottom {
    position: relative;
    right: 30px;
    padding: 15px;
    padding-top: 8em;
    
    
}
.footer-list  {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    padding: 20px;
  
}
.footer-list  h3{
    font-size: 1.3em;
    display: flex;
}
#submit1{
    font-family: 'robotob';
    font-size: 1em;
    height: 50px;
    width: 90px;
    color:white;
    background-color:  #5c9434;
    border-radius: 15px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    margin-right: 30px;
}
#submit2{
    font-family: 'robotob';
    font-size: 1em;
    height: 50px;
    width: 180px;
    color:white;
    background-color:  #5c9434;
    border-radius: 15px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    cursor: pointer;
}
#input_group input{
    padding: 0.75rem;
    width: 100%;
    all: unset;
    background-color: white;
}
#input_group button {
    background-color: #519725;
    border: none;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    width: 100%;

    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
.text h3{
    font-family: 'quicksandbold';
    width: 300px;
    font-size: clamp(0.5em, 1em + 2vw, 2em);

}
.icon-footer{
    margin-top: 5%;
}
.icon-footer-mid1{
    display: flex;
    align-items: center;
    margin-top: 220px;
}
.icon-footer-mid2{
    display: flex;
    margin: 0 auto;
    width: 300px;
}
.icon-footer-contato{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.small{
    display: flex;
    text-align: center;
    justify-content: center;
}